# Configuration du serveur
PORT=3000

# Configuration de la base de données
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=webpush_demo

# Clés VAPID
VAPID_PUBLIC_KEY=BIhWnSbZtqza987dYcgeKq-bcohlUbclkU1rBa4IFeEGvfgJy6KSerO9wQjsnwkpzx8QjH7PAcySK0jaTTk8Fjg
VAPID_PRIVATE_KEY=y4rsl_ZGJ0b6CoVUwwbxI2FLv9SiPLaRXf3jUI0OKPI
VAPID_SUBJECT=mailto:votre-email@example.com